<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="lampBean"
          class="com.example.demo.Lamp">
    </bean>
    <bean id="fireflyBean"
          class="com.example.demo.Firefly">
    </bean>
    <bean id="flashlightBean"
          class="com.example.demo.Flashlight">
    </bean>

</beans>